<% layout('layouts/boilerplate') %>

    <div class="container" >
        <div class="row">
            <h1 class="text-center">
                Edit Campground
            </h1>
            <div class="col-6 offset-3">
                <form class="needs-validation" method="POST" action="/campgrounds/<%= campground._id %>/?_method=PATCH" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="title">Edit the playground name</label>
                        <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>" required>
                        <div class="valid-feedback">Nice</div>
                        <div class="invalid-feedback">the campground needs a name</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Edit playground location</label>
                        <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" required>
                        <div class="valid-feedback">noice</div>
                        <div class="invalid-feedback">the campground needs a location</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Edit image link</label>
                        <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>" required>
                        <div class="valid-feedback">seems legit</div>
                        <div class="invalid-feedback">please supply an image link here</div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Edit Price:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control" 
                                aria-label="Amount (to the nearest dollar)"
                                name="campground[price]"
                                id="price"
                                value="<%= campground.price %>"
                                required
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">.00</span>
                            </div>
                            <div class="valid-feedback">great</div>
                            <div class="invalid-feedback">the campground needs a price</div>
                          </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Edit Description</label>
                        <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= campground.description %></textarea>
                        <div class="valid-feedback">looks ok</div>
                        <div class="invalid-feedback">please supply some sort of a description here</div>
                    </div>
                    
                    
                    <div class="mb-3">
                        <button class="btn btn-info">
                            Update Plaground
                        </button>
                    </div>
                </form>
                <p>
                    <a href="/campgrounds/<%= campground._id %>"> Back to Campground</a>
                </p>
            </div>
        </div>

        
        
    </div>
   